<% existing_answer ||= nil %>
<% method = existing_answer.nil? ? :post : :put %>
<div id="content">
  <div class="content-container">
    <%= link_to 'x', dashboard_path(:skip_question_id => question.id), :class => 'skip' %>
    <div class="question">
      <%= form_tag answer_this_question_path(question), :method => method do %>
        <p><%= question.question %></p>
        <% question.answers.shuffle.each do |answer| %>
          <div class="answer">
            <label for="answer-<%= answer.id %>"><%= answer.answer %></label>
            <%= radio_button_tag 'answer_id', answer.id, existing_answer == answer, :id => "answer-#{answer.id}" %> 
          </div>
        <% end %>
        <%= submit_tag 'Answer', :class => "submit-button" %>
      <% end %>
    </div>
  </div>
</div>
