<p>
  <b>Time: </b>
  <%= experience.start %> to <%= experience.end %>
</p>

<b>Company:</b>
  <%= experience.company %>
</p>

<p>
  <b>Title:</b>
  <%= experience.title %>
</p>

<p>
  <b>Responsibilities:</b>
  <%= experience.responsibilities %>
</p>

  