<p id="notice"><%= notice %></p>

<p>
  <b>candidate id</b>
  <%= @experience.candidate_id %>
</p>

<p>
  <b>Company:</b>
  <%= @experience.company %>
</p>

<p>
  <b>Title:</b>
  <%= @experience.title %>
</p>

<p>
  <b>Responsibilities:</b>
  <%= @experience.responsibilities %>
</p>

<p>
  <b>Start:</b>
  <%= @experience.start %>
</p>

<p>
  <b>End:</b>
  <%= @experience.end %>
</p>


<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
