<%= form_for(@business_sector) do |f| %>
  <% if @business_sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_sector.errors.count, "error") %> prohibited this business_sector from being saved:</h2>

      <ul>
      <% @business_sector.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
