<!--/app/views/layouts/authenticatian.html.erb-->
<!DOCTYPE HTML>
<html lang="en">
	<head>
		
		<!-- Meta tags for storing metadata related to the website -->
		<meta charset="utf-8" />
		<meta name="description" content="SyncSum website" />
		<meta name="author" content="Rohan Kothari" />
		<meta name="keywords" content="SyncSum, Sync, Fact sheet, Jobs, Career" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Including Bootstrap and other stylesheets 

		<link type="text/css" rel="stylesheet" href="./stylesheets/bootstrap.css.scss" />
		<link type="text/css" rel="stylesheet" href="./stylesheets/bootstrap-responsive.css.scss" />
		<link type="text/css" rel="stylesheet" href="./stylesheets/style.css.scss" />
		-->
		
		<%= stylesheet_link_tag "bootstrap"%>
		<%= stylesheet_link_tag "bootstrap-responsive"%>
		<%= stylesheet_link_tag "style"%>
		<!-- Including Bootstrap and other script files 
		<script type="text/javascript" src="./javascripts/jquery-1.8.3.js.coffee"></script>
		<script type="text/javascript" src="./javascripts/bootstrap.js.coffee"></script>
		<script type="text/javascript" src="./javascripts/script.js.coffee"></script>
				
		-->	
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "sign_in2"%>
		<!-- Title of the page -->

		<title>Sync Your Fact Sheet</title>
	</head>
	<body>
		<% flash.each do |key, value| %>
	        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      		<% end %>
		<%=yield%>
	</body>
</html>
